/*
Component                                                  : Default elevation values (dp)
Dialog                                                     : 24px - 16%
Modal bottom sheet Modal side sheet                        : 16px - 15%
Navigation drawer                                          : 16px - 15%
Floating action button (FAB - pressed)                     : 12px - 14%
Standard bottom sheet Standard side sheet                  : 8px - 12%
Bottom navigation bar                                      : 8px - 12%
Bottom app bar                                             : 8px - 12%
Menus and sub menus                                        : 8px - 12%
Card (when picked up)                                      : 8px - 12%
Contained button (pressed state)                           : 8px - 12%
Floating action button (FAB - resting elevation) Snackbar  : 6px - 11%
Top app bar (scrolled state)                               : 4px - 9%
Top app bar (resting elevation)                            : 0 or 4px - 9%
Refresh indicator Search bar (scrolled state)              : 3px - 8%
Contained button (resting elevation)                       : 2px - 7%
Search bar (resting elevation)                             : 1px - 5%
Card (resting elevation)                                   : 1px - 5%
Switch                                                     : 1px - 5%
Text button                                                : 0px - 0%
Standard   side sheet                                      : 0px - 0%
*/

body {
	background-color: #121212;
	font-family: roboto;
	font-size: 14px;
	line-height: 30px;
	margin: 0;
}

.outer {
	padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50vh;
	color: hsla(0, 100%, 100%, 0.87);


	div {
		margin: 1%;
	  height: 15%;
		text-align: center;
		padding: 10px;
	}
}

.dp01 {
	background-color: hsla(0, 100%, 100%, 0.05);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 1px 1px 0px hsla(0,0%,0%,0.14),
		0px 2px 1px -1px hsla(0,0%,0%,0.12),
		0px 1px 3px 0px hsla(0,0%,0%,0.2);
}

.dp02 {
	background-color: hsla(0, 100%, 100%, 0.07);
	box-shadow:
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	0px 2px 2px 0px hsla(0,0%,0%,0.14),
	0px 3px 1px -2px hsla(0,0%,0%,0.12),
	0px 1px 5px 0px hsla(0,0%,0%,0.2);
}

.dp03 {
	background-color: hsla(0, 100%, 100%, 0.08);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 3px 4px 0px hsla(0,0%,0%,0.14),
		0px 3px 3px -2px hsla(0,0%,0%,0.12),
		0px 1px 8px 0px hsla(0,0%,0%,0.2);
}

.dp04 {
	background-color: hsla(0, 100%, 100%, 0.09);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 4px 5px 0px hsla(0,0%,0%,0.14),
		0px 1px 10px 0px hsla(0,0%,0%,0.12),
		0px 2px 4px -1px hsla(0,0%,0%,0.2);
}

.dp06 {
	background-color: hsla(0, 100%, 100%, 0.11);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 6px 10px 0px hsla(0,0%,0%,0.14),
		0px 1px 18px 0px hsla(0,0%,0%,0.12),
		0px 3px 5px -1px hsla(0,0%,0%,0.2);
}

.dp08 {
	background-color: hsla(0, 100%, 100%, 0.12);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 8px 10px 1px hsla(0,0%,0%,0.14),
		0px 3px 14px 2px hsla(0,0%,0%,0.12),
		0px 5px 5px -3px hsla(0,0%,0%,0.2);
}

.dp12 {
	background-color: hsla(0, 100%, 100%, 0.14);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 12px 17px 2px hsla(0,0%,0%,0.14),
		0px 5px 22px 4px hsla(0,0%,0%,0.12),
		0px 7px 8px -4px hsla(0,0%,0%,0.2);
}

.dp16 {
	background-color: hsla(0, 100%, 100%, 0.15);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 16px 24px 2px hsla(0,0%,0%,0.14),
		0px 6px 30px 5px hsla(0,0%,0%,0.12),
		0px 8px 10px -5px hsla(0,0%,0%,0.2);
}

.dp24 {
	background-color: hsla(0, 100%, 100%, 0.16);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 24px 38px 3px hsla(0,0%,0%,0.14),
		0px 9px 46px 8px hsla(0,0%,0%,0.12),
		0px 11px 15px -7px hsla(0,0%,0%,0.2);
}

.outer.bright-theme {
	background-color: white;
	color: #666666;

}