:root {
    --primFull: #ead784ff;
    --primMain: #ead784de;
    --primMid1: #ead78499;
    --primMid2: #ead78480;
    --primDis:  #ead78460;
    --primOut:  #ead78430;

    --greenFull:#5BB882ff;
    --greenMid1:#5BB88290;
    --greenDim: #5BB8821e;
    --redFull:  #DF4B84ff;
    --redMid1:  #DF4B8490;
    --redDim:   #DF4B841e;
}

body {
    background: #1D273D;
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primMain);
}

h1 {
    font-size: 2rem;
    font-weight: 200;
    color: var(--primMid1);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    color: var(--primMid1);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

h3.status {
    color: var(--primMid2);
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
}

h3.red-start {
    color: var(--redMid1);
}

h3.red-start:hover {
    color: var(--redFull);
}

h3.green-start {
    color: var(--greenMid1);
}

h3.green-start:hover {
    color: var(--greenFull);
}

h3.disabled {
    color: var(--primDis);
}

h3.disabled:hover {
    color: var(--primDis);
}

h6 {
    font-size: 0.9rem;
    font-weight: 100;
    color:var(--primMain);
    margin-top: 0;
    margin-bottom: 0;
}

.topper {
    margin: auto;
    padding: 10px;
}

.main {
    text-align: center;
    margin: auto;
    padding: 10px;
    max-width: 90%;
    width: 600px;
    box-sizing: border-box;
    background-color: hsla(0, 100%, 100%, 0.05);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 1px 1px 0px hsla(0,0%,0%,0.14),
		0px 2px 1px -1px hsla(0,0%,0%,0.12),
		0px 1px 3px 0px hsla(0,0%,0%,0.2);
}

.top {
    max-height: 8%;
}

.mid {
    max-height: 60%;
}

.bot {
    max-height: 10%;
}

.fot {
    max-height: 8%;
}

.tictactoe {
    display: inline-block;
}

.gamegrid {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 5px;
}

.cell {
    font-size: 3rem;
    font-weight: 300;
    color: var(--primMain);

    justify-content: center;
    align-items: center;
    display: flex;
    background-color: hsla(0, 100%, 100%, 0.09);
    box-shadow:
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        0px 4px 5px 0px hsla(0,0%,0%,0.14),
        0px 1px 10px 0px hsla(0,0%,0%,0.12),
        0px 2px 4px -1px hsla(0,0%,0%,0.2);
}

.cell:hover {
	background-color: hsla(0, 100%, 100%, 0.16);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 24px 38px 3px hsla(0,0%,0%,0.14),
		0px 9px 46px 8px hsla(0,0%,0%,0.12),
		0px 11px 15px -7px hsla(0,0%,0%,0.2);
}

.activated {
	background-color: hsla(0, 100%, 100%, 0.12);
	box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */
		0px 8px 10px 1px hsla(0,0%,0%,0.14),
		0px 3px 14px 2px hsla(0,0%,0%,0.12),
		0px 5px 5px -3px hsla(0,0%,0%,0.2);
}

.red {
    background-color: var(--redDim);
}

.green {
    background-color: var(--greenDim);
}

.circle {
    background-image: url(../svg/circle.svg);
}

.cross {
    background-image: url(../svg/cross.svg);
}

.suggest {
    border-color: #ffffff40;
    border-style: dashed;
    border-width: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

@media (max-width: 1024px) {
    .gamegrid {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }

    .circle {
        background-image: url(../svg/circle80.svg);
    }

    .cross {
        background-image: url(../svg/cross80.svg);
    }
}